@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  max-width: 38rem;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  position: relative;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  border: 0.2rem solid var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container_category {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: -1rem;
}

.embla__shop_category {
  position: relative;
  flex: 0 0 300px;
  min-width: 0;
  padding-left: 1rem;
}

.embla__slide__number_category {
  position: relative;
  width: 100%;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem 0;
  overflow: hidden;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(37, 99, 235, 0.5),
    rgba(220, 38, 38, 0.5)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.embla__slide__number_category:hover .overlay {
  opacity: 1;
}

.embla__slide__number_category img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  color: #808080;
  padding: 0;
  margin: 0;
  border: 0.2rem solid var(--detail-medium-contrast);
  width: 2.6rem;
  height: 2.6rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  border: 2px solid #808080;
  transition: all 0.2s ease-in;
}

.embla__button:hover {
  background-color: #fc466b;
  color: #fff;
  border: 2px solid #fc466b;
  transition: all 0.2s ease-in;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}
